.serviceBoxAlign {
    height: 415px;
}

.serviceBoxAlign2 {
    height: 215px;
}

#join_the_club .service {
    padding: 40px 30px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.tab-main-box {
    height: 350px;
}

ul.logos {
    margin: 50px 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
}

ul.logos li {
    margin: 0 0 15px 0;
    padding: 0 0 0 0;
    list-style: none;
    display: inline-block;     
}

ul.logos li img {
    width: 80%!important;
}
.spreadL{
    padding:10px 0 0 15px;
    width: 50%;
}